.deselected, .deselected > *, .delighted, .delighted > *{
	fill:lightgray !important;
}

#tooltip{
    position:absolute;
    width:150px;
    height:auto;
    padding:10px;
    background-color: white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}

.hidden {
	display:none;
}

ul {
	list-style: none;
}

/*
* Map animation
*/
.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 100px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 80px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 500px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.opaque {
	opacity: 0.2;
}
